html, body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0 auto;
    text-align: center;
  }
  
  .jumbotron {
    width: 100%;
    height: 800px;
    background: url(../images/unsplash-background.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .jumbotron a {
      color: #fff;
  }

  .jumbotron p {
    color: #fff;
}
  
  .header {
    background-color: #333;
  }

  
  .nav {
    margin: 0;
    padding: 20px 0;
  }
  
  .nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    padding: 20px;
  }
  
  .main {
    position: relative;
    top: 100px;
    text-align: center;
  }
  
  .main h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
  }

  .main h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  
  .main p {
    font-weight: 100;
    font-size: 25px;
    line-height: 25px;
    padding: 0 50px;
    margin-bottom: 40px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .footer a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
  }